@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --color-venus: #7793BC;
  --color-cloud: #FFFFFF;
  --color-meteor: #EEE4DC;
  --color-navy: #374275;
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-syncopate);
  }

  body {
    margin: 0;
    padding: 0;
  }
}
